/*Some necessary adjustments*/
h1, body, html, main {
  margin: 0;
  padding: 0;
}
/*Import the font and set the default size*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin: 0px 100px;
  width: 850px;
  height: 500px;
}

/*background adjustments*/
html {
  background-color:black;
}
body {
  background-color:white;
}

/*header image*/
h1 {
  background-image: url(../images/soup.jpg);
  background-color:grey;
  background-size: 850px;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-weight: 200;
  font-size: 3.5em;
  line-height: 500px;
  text-align: center;
}
/*header intro*/
header > p {
  font-weight: 100;
  padding: 60px 100px 10px;
}

/*recipe-info picture*/
#recipe-info {
  padding: 0px 250px;
  height: 55px;
}

/*ingredients+directions*/
section > p {
  font-weight:400;
  font-size:1.1em;
}
section {
  font-weight: 120;
  font-size: 0.9em;
}

/*cooking-info picture*/
#cooking-info{
  padding: 0px 150px;
  height: 75px;
}

/*ingredients section adjustments*/
#ingredients {
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  margin: 40px 100px;
  padding: 20px 0px;
}

/*directions section adjustments*/
#directions {
  margin: 40px 100px;
  padding: 0px 0px 50px 0px;
}


